.chat-widget {
  position: fixed;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  user-select: none; // Отключаем выделение для всего виджета
  resize: none; // Отключаем стандартный ресайз
  overflow: hidden; // Скрываем содержимое, выходящее за границы
  min-width: 250px; // Минимальная ширина виджета
  min-height: 400px; // Минимальная высота виджета
}

.chat-widget__resizer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #007bff;
  cursor: se-resize; // Курсор для изменения размера

  &--bottom-right {
    right: 0;
    bottom: 0;
    cursor: se-resize; // Курсор для изменения размера (правый нижний угол)
  }

  &--bottom-left {
    left: 0;
    bottom: 0;
    cursor: sw-resize; // Курсор для изменения размера (левый нижний угол)
  }

  &--top-right {
    right: 0;
    top: 0;
    cursor: ne-resize; // Курсор для изменения размера (правый верхний угол)
  }

  &--top-left {
    left: 0;
    top: 0;
    cursor: nw-resize; // Курсор для изменения размера (левый верхний угол)
  }
}

.chat-widget__resize {
  position: absolute;
  background-color: red;
  cursor: pointer; // Курсор для изменения размера

  &--right {
    top: 10px;
    bottom: 10px;
    right: 0;
    width: 10px;
    cursor: pointer; // Курсор для изменения размера (правый нижний угол)
  }

  &--left {
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 10px;
    cursor: pointer; // Курсор для изменения размера (левый нижний угол)
  }

  &--bottom {
    right: 10px;
    left: 10px;
    bottom: 0;
    height: 10px;
    cursor: pointer; // Курсор для изменения размера (правый верхний угол)
  }

  &--top {
    right: 10px;
    left: 10px;
    height: 10px;
    top: 0;
    cursor: pointer; // Курсор для изменения размера (левый верхний угол)
  }
}